<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'post-detail' post.get_prev_post.slug %}"><</a>
    <a href="{% url 'post-detail' post.get_next_post.slug %}">></a>
    <br>
    <img src="{{ post.preview_image.url }}" alt="{{ post.title }}">
    <h1>{{ post.title }}</h1>
    {{ post.body|safe }}
</body>
</html>